body {
    border-left: 20px solid grey;
    border-right: 20px solid grey;
    padding: 0px;
    margin: 0px;
}
.main-header {
    display: flex;
    justify-content: space-between;
}
.Call {
    text-align: center;
    margin-right: 30px;
    padding: 0px;
}
.P1 {
    color: brown;
    font-family: Arial;
    font-weight: bold;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.underline {
    height: 3px;
    width: 295px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.P2 {
    color: black;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 8px;
    letter-spacing: 2px;
}
.P3  {
    font-family: Arial;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
}


ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: brown;
    height: 30px;
}
li {
    float: right;
}
li a {
    color: white;
    padding: 16px 18px;
    text-decoration: none;
    font-family: Arial;
}
li a:hover:not(.active) {
    background-color: grey;
}


.Container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.Ques {
    position: absolute;
    color: white;
    top: 194px;
    background-color: brown;
    font-size: 30px;
}
.Have {
    position: absolute;
    top: 205px;
    margin-left: 200px;
    color: black;
    font-size: 18px;
    font-family: Arial;
    letter-spacing: 2px;
}
.Que {
    position: absolute;
    top: 195px;
    margin-left: 285px;
    color: darkblue;
    font-size: 34px;
    font-family: Sans-serif;
    letter-spacing: 2px;
}
.Abou {
    position: absolute;
    top: 231px;
    margin-left: 200px;
    color: black;
    font-size: 18px;
    font-family: Arial;
    letter-spacing: 2px;
}
.Enter {
    position: absolute;
    top: 255px;
    margin-left: 15px;
    color: black;
    font-size: 23px;
    font-family: Arial;
    text-align: left;
}
.form_bg.jpg {
    background-image: url("/KeeferImages/form_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.Formm {
    position: absolute;
    top: 325px;
    margin-left: 30px;
    color: black;
    font-family: Arial;
}
.Nam {
    position: relative;
    left: 10px;
}
.Email {
    position: relative;
    left: 8px;
}
.Phone {
    position: relative;
    left: 1px;
}
input[type="text"] {
    width: 180px;
    height: 20px;
    margin: 5px;
}
input[type="tel"] {
    width: 180px;
    height: 20px;
    margin: 5px;
    
}
.Confident {
    position: absolute;
    top: 345px;
    margin-left: 320px;
    rotate: 8deg;
}
textarea {
    position: absolute;
    top: 440px;
    margin-left: 35px;
    width: 39%;
    height: 70px;
    box-sizing: border-box;
    border: solid black;
    background-color: white;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    resize: none;
}
.Privacy {
    position: absolute;
    top: 530px;
    margin-left: 25px;
    color: grey;
    font-size: 20px;
}
.button {
    position: absolute;
    justify-content: space-around;
    top: 520px;
    margin-left: 248px;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    background-color: brown;
    border: none;
    color: white;
    padding: 7px 25px;
}
.Bullet {
    margin-left: 5px;
    padding-top: 6px;
}

.Charged {
    position: relative;
    top: -5px;
    font-weight: 600;
    font-size: 24px;
    margin-left: 40px;
}
.Dui {
    position: relative;
    top: -56.5px;
    margin-left: 244px;
    font-weight: 600;
    font-size: 24px;
    color: brown;
}
.Free {
    position: relative;
    top: -76px;
    color: brown;
    margin-left: 40px;
    font-size: 18px;
    font-family: Arial;
    font-weight: 600;
}
.Beings {
    position: relative;
    top: -80px;
    margin-left: 40px;
    font-size: 17px;
    font-family: Arial;
}
.Clicks {
    position: relative;
    top: -80px;
    margin-left: 40px;
    font-size: 17px;
    font-family: Arial;
}
.Paste {
    position: relative;
    top: -245px;
    margin-left: 270px;
}
.Line {
    position: relative;
    border-left: 2px solid;
    width: 200px;
    margin-left: 153px;
    top: -200px;
}
.button1 {
    position: relative;
    margin-left: 190px;
    top: -210px;
    font-size: 16px;
    font-family: Arial;
    background-color: brown;
    border: none;
    color: white;
}
.Bullet {
    margin-left: 3px;
}


.Line1 {
    border-left: 0px solid;
    height: 315px;
    position: absolute;
    left: 410px;
    top: 605px;
}

.Law {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    top: -495px;
    margin-left: 420px;
}
.Blog {
    position: relative;
    color: brown;
    font-size: 24px;
    font-weight: 600;
    top: -547px;
    margin-left: 483px;
}
.Learn {
    position: absolute;
    top: 627px;
    margin-left: 420px;
    font-size: 17px;
    font-family: Arial;
}
.Laptop {
    position: relative;
    top: -590px;
    margin-left: 615px;
}
.Line2 {
    position: relative;
    width: 175px;
    border-left: 2px solid;
    top: -625px;
    margin-left: 430px;
}
.button2 {
    position: absolute;
    justify-content: space-around;
    margin-left: 475px;
    top: 707px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    background-color: brown;
    border: none;
    color: white;
    padding: 4px;
}
.Bullet1 {
    margin-left: 3px;
}
.Line3 {
    border-top: 0px solid;
    width: 453px;
    position: absolute;
    margin-left: 390px;
    top: 757px;
}
.Case {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    top: -570px;
    margin-left: 420px;
}
.Results {
    position: relative;
    color: brown;
    font-size: 20px;
    font-weight: 600;
    top: -613px;
    margin-left: 483px;
}
.See {
    position: absolute;
    top: 800px;
    margin-left: 420px;
    font-size: 17px;
    font-family: Arial;
}
.Order {
    position: relative;
    top: -665px;
    margin-left: 640px;
}
.Line4 {
    position: relative;
    width: 190px;
    border-left: 2px solid;
    top: -695px;
    margin-left: 415px;
}
.button3 {
    position: absolute;
    justify-content: space-around;
    margin-left: 478px;
    top: 878px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    background-color: brown;
    border: none;
    color: white;
    padding: 4px;
}
.Bullet2 {
    margin-left: 3px;
}
.Line5 {
    border-left: 0px solid;
    height: 315px;
    position: absolute;
    left: 865px;
    top: 605px;
}
.Q1 {
    position: relative;
    margin-left: 870px;
    top: -950px;
}
.National {
    position: relative;
    margin-left: 1025px;
    top: -1075px;
}
.Certificates {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    top: -1090px;
    margin-left: 870px;
}
.Credentials {
    position: relative;
    font-size: 24px;
    color: brown;
    font-weight: 600;
    top: -1118px;
    margin-left: 870px;
}
.KeeferLaw {
    position: relative;
    top: -1130px;
    margin-left: 870px;
    font-size: 16px;
    font-family: Arial;
}
.Line6 {
    position: relative;
    width: 185px;
    border-left: 2px solid;
    top: -1130px;
    margin-left: 955px;
}
.button4 {
    position: relative;
    justify-content: space-around;
    top: -1140px;
    margin-left: 990px;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    background-color: brown;
    border: none;
    color: white;
    padding: 4px;
}
.Bullet3 {
    margin-left: 3px;
}
.ShadowLine {
    position: relative;
    justify-content: center;
    width: 1240px;
    height: 8px;
    top: -1080px;
}